// 这里定义一些可复用的样式

// flex 布局下的水平垂直居中
@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

// flex 布局下的两端布局
@mixin flex-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// 卡片模式
@mixin card-mode {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  background-color: #fff;
}

// 背景图片
@mixin bg-icon {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

// 文字溢出省略号
@mixin text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 绝对定位占满整个容器
@mixin absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
